---
import type { CollectionEntry } from 'astro:content';
import MiniPostCard from '@components/MiniPostCard.astro';

interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<div class="gvns-recent-posts-row">
  {posts.map((post) => <MiniPostCard post={post} />)}
</div>

<style>
  .gvns-recent-posts-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  @media (max-width: 640px) {
    .gvns-recent-posts-row {
      grid-template-columns: 1fr;
    }
  }
</style>
